<nav data-ng-controller="NavbarController as navbarController" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container navbarPanel">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../splash/Splash.html"><span class= Nicole Isoda</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav">-->
                <!--<li data-ng-if="currentUser.hasPermission('ACCESS_TIMESHEET_MODULE')"-->
                    <!--data-ng-class="{navigationActive:isActive('/timesheet')}"><a href="#/timesheet/select"><span class="fa fa-calendar"></span> Timesheets</a></li>-->
                <!--<li data-ng-if="currentUser.hasPermission('ACCESS_G1_MODULE')"-->
                    <!--data-ng-class="{navigationActive:isActive('/g1')}"><a href="#/g1/select"><span class="fa fa-plane"></span> Leave Requests<span class="hidden-sm"> (G1)</span></a></li>-->
                <!--<li data-ng-if="currentUser.hasPermission('ACCESS_REVIEW_MODULE')"-->
                    <!--data-ng-class="{navigationActive:isActive('/review')}"><a href="#/review"><span class="fa fa-thumbs-up"></span> Review</a></li>-->
                <!--<li data-ng-if="currentUser.hasPermission('ACCESS_LEAVEBANK_MODULE')"-->
                    <!--data-ng-class="{navigationActive:isActive('/leavebanks/selection')}"><a href="#/leavebanks/selection"><span class="fa fa-bank"></span> Leave Balances<span class="hidden-sm"> (Form 7)</span></a></li>-->
                <!--<li data-ng-if="currentUser.hasPermission('ACCESS_PROJECT_MODULE')"-->
                    <!--data-ng-class="{navigationActive:isActive('/projects')}"><a href="#/projects"><span class="fa fa-list-alt"></span> Projects</a></li>-->

            <!--</ul>-->
        </div>
    </div>
</nav>